:root {
	--white: #ffffff;
	--black: #1b1b1b;
	--blue: #293894;
	--gray: #6b6b65;

	--background--gray: #dfe0d9;
	--background--blue: var(--blue);
	--background--black: var(--black);
	--background--black--transparent: #030202e3;
	--background--blue--transparent: #051782d6;

	--border--color--gray: #cfd1c7;
	--border--color--blue: var(--blue);
}
